*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

.nav{
  width: 100%;
  background-image: linear-gradient(rgb(121, 11, 127),rgb(77, 9, 80));
  display: flex;
  justify-content: center;
}
.sub_root_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  padding: 0 10px;
}
.sub_root_div img{
  width: 100px;
}
.input_field{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
input{
  margin: 15px 5px;
  padding: .5rem 1rem;
  width: 10rem;
}
.submit{
  width: 100%;
  display: flex;
  justify-content: center;
}
button{
  text-align: center;
  padding: 10px 5rem;
  border: none;
  background-image: linear-gradient(rgb(219, 3, 231),rgb(77, 9, 80));
  color: white;
  border-radius: 5px;
  font-size: 25px;
  transition: background-image .3s ease-in-out;
  
}
button:hover{
  background-image: linear-gradient(rgb(206, 81, 213),rgb(77, 9, 80));
}
.root_meme{
  width: 100%;
}
.imgrender{
  width: 50%;
  position: relative;
  height: 60vh;
}
.memeImage{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.memeimg,.top_text,.bottom_text{
  position: absolute;
  margin: 0 auto;
}
.bottom_text,.top_text{
  text-align: center;
  width: 100%;
  color: white;
  -webkit-text-stroke: 3px black;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.top_text{
  top:20px;
}
.bottom_text{
  bottom: 20px;
}
.memeimg{
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}
.tobi{
  text-align: center;
}
@media screen and (max-width:500px){
  .imgrender{
    width: 90%;
  }
}